<!DOCTYPE html>
<html>
  <head>
    <title>Twitclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header class="header clearfix">
        <div class="header_logo">
          <%= link_to "Twitclone", root_path %>
        </div>
        <ul class="header_menu clearfix">
          <li><%= link_to "Myツイート一覧", tweets_path %></li>
          <li><%= link_to "新規ツイート", new_tweet_path %></li>
        </ul>
      </header>
      <div class="wrapper clearfix">
        <%= yield %>
        <footer class="footer">
          <div class="footer_inner">
            <p>Twitclone</p>
            <p>© 2020 T-ogino</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
